body {
    background-color: #000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header--main {
    font-weight: normal;
    font-size: 50px;
    color: #fff;
}
/*CTA is call to Action*/
.link--cta {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}
h2 {
    font-weight: 300;
    font-size: 42px;
    color: #fff;
}
a {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}
.rightalign {
    text-align: right;
}
